<!-- settings_wol.jinja2 -->
<div class="settings">
    <div class="form-group">
        <label for="mac_address" class="control-label">MAC Address</label>
        <input type="text" class="form-control" id="mac_address" data-bind="value: settings.plugins.wakeonlan.mac_address">
    </div>
</div>
